
<h2>Add user</h2>
<span >Product Name</span>
<input  type="text" placeholder=" Name"  [(ngModel)] = "newUser.name" name = "name">
<span>Id</span>
<input  type="number" placeholder="id"  [(ngModel)] = "newUser.id" name = "Id">
<span >email</span>
<input  type="text" placeholder="email" [(ngModel)] = "newUser.email"  name = "email">
<div >
<span >role</span>
<input type="text" placeholder="role" [(ngModel)] = "newUser.role"  name = "role">
<span >password</span>
<input  type="text" placeholder="password"  [(ngModel)] = "newUser.password" name = "password">            
<button (click) ="adduser()"> Add User</button>

 